# Use root/example as user/password credentials

services:

  db:
    container_name: mysql-db
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3306:3306"
    # (this is just an example, not intended to be a production configuration)

  adminer:
    image: adminer
    container_name: mysql-adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db